<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtlasGenetics.UI.IOReaderTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="TestOutput" value="D:\TestResults" />
        <add key="ReaderUnderTest" value="D:\Releases\PAN\PAN-D_051\Reader 5_3" />
        <add key="AssaysUnderTest" value="D:\Releases\MOB\MOB-D-019\CTNG_V10" />
    </appSettings>
</configuration>