BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 16.000000 MHz ;
LOCATE COMP "Blister3Dir" SITE "1" ;
LOCATE COMP "Blister3Step" SITE "2" ;
LOCATE COMP "nBlister3Enable" SITE "3" ;
LOCATE COMP "Blister2Dir" SITE "4" ;
LOCATE COMP "Blister2Step" SITE "7" ;
LOCATE COMP "nBlister2Enable" SITE "8" ;
LOCATE COMP "Blister1Dir" SITE "12" ;
LOCATE COMP "Blister1Step" SITE "13" ;
LOCATE COMP "nBlister1Enable" SITE "16" ;
LOCATE COMP "ClampDir" SITE "17" ;
LOCATE COMP "ClampStep" SITE "20" ;
LOCATE COMP "nClampEnable" SITE "21" ;
LOCATE COMP "nStepperReset" SITE "24" ;
LOCATE COMP "Valves[1]" SITE "27" ;
LOCATE COMP "Valves[2]" SITE "28" ;
LOCATE COMP "SpiMiso" SITE "32" ;
LOCATE COMP "Valves[4]" SITE "35" ;
LOCATE COMP "Valves[5]" SITE "38" ;
LOCATE COMP "Valves[6]" SITE "39" ;
LOCATE COMP "Valves[7]" SITE "40" ;
LOCATE COMP "Valves[8]" SITE "41" ;
LOCATE COMP "Valves[9]" SITE "42" ;
LOCATE COMP "Valves[10]" SITE "43" ;
LOCATE COMP "nSpiCs" SITE "48" ;
LOCATE COMP "SpiMosi" SITE "49" ;
LOCATE COMP "Valves[11]" SITE "51" ;
LOCATE COMP "Valves[12]" SITE "52" ;
LOCATE COMP "Valves[13]" SITE "53" ;
LOCATE COMP "Valves[14]" SITE "54" ;
LOCATE COMP "Valves[15]" SITE "57" ;
LOCATE COMP "Valves[16]" SITE "58" ;
LOCATE COMP "Valves[17]" SITE "62" ;
LOCATE COMP "Valves[18]" SITE "63" ;
LOCATE COMP "Valves[19]" SITE "66" ;
LOCATE COMP "Valves[20]" SITE "67" ;
LOCATE COMP "PressurePump" SITE "70" ;
LOCATE COMP "VacuumPump" SITE "71" ;
LOCATE COMP "Electromagnet" SITE "74" ;
LOCATE COMP "StepperCurrent" SITE "75" ;
LOCATE COMP "nReset" SITE "85" ;
LOCATE COMP "Clk" SITE "86" ;
LOCATE COMP "EjectSolenoid" SITE "87" ;
LOCATE COMP "nMechValveEnable" SITE "88" ;
LOCATE COMP "MechValveStep" SITE "98" ;
LOCATE COMP "MechValveDir" SITE "99" ;
LOCATE COMP "GrnLed" SITE "25" ;
LOCATE COMP "Valves[3]" SITE "31" ;
LOCATE COMP "SpiClk" SITE "34" ;
LOCATE COMP "LaTest[0]" SITE "47" ;
LOCATE COMP "LaTest[1]" SITE "59" ;
LOCATE COMP "LaTest[2]" SITE "60" ;
LOCATE COMP "LaTest[3]" SITE "61" ;
LOCATE COMP "LaTest[4]" SITE "64" ;
LOCATE COMP "LaTest[5]" SITE "65" ;
LOCATE COMP "LaTest[6]" SITE "68" ;
LOCATE COMP "LaTest[7]" SITE "69" ;
LOCATE COMP "nFault" SITE "45" ;
